.main {
  scroll-behavior: smooth;
  padding: 10px;

  & img {
    height: auto;
    width: 100%;
    border-radius: 10px;
    // color: rgba(0, 0, 0, 0.377);
  }
}

.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  min-height: 5rem;

  @media screen and (min-width: 850px) {
    flex-direction: row;
    padding-top: 8rem;
  }

  &__intro-text {
    margin: 0 auto;
    padding: 2rem;
    animation: bounceInLeft;
    animation-duration: 2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__wrapper {
      width: 100%;
      margin: 1rem auto;

      & a {
        color: #fbb97e;
      }

      & > h3 {
        font-size: 2rem;
        font-weight: bold;
      }
      & > p {
        font-size: 20px;
        line-height: 1.6;
      }

      @media screen and (max-width: 850px) {
        text-align: left;

        & > p {
          font-size: 17px;
        }

        & > h3 {
          font-size: 2rem;
          font-weight: bold;
        }
      }
    }

    @media screen and (min-width: 850px) {
      width: 50%;
    }
  }

  &__intro-image {
    margin: auto;
    animation: bounceInRight;
    animation-duration: 2s;
    min-width: 50vh;
    border-radius: 5px;

    @media screen and (min-width: 850px) {
      width: 50%;
    }
  }
}

.taste {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 2rem;

  &__text {
    font-size: 2rem;
    font-weight: bold;
    animation: slideInDown;
    animation-duration: 2s;
  }

  & > p {
    color: #fbb97e;
    font-size: 17px;
    animation: slideInUp;
    animation-duration: 1s;
  }
}

.experience {
  width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 850px) {
    flex-direction: row;
  }

  &__exImage {
    width: 100%;
    animation: bounceInLeft;
    animation-duration: 2s;

    @media screen and (min-width: 850px) {
      width: 50%;
    }
  }

  &__exText {
    width: 100%;
    animation: bounceInRight;
    animation-duration: 2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__wrapper {
      width: 100%;
      margin: 1rem auto;

      & a {
        color: #fbb97e;
      }
      & h3 {
        font-size: 2rem;
        font-weight: bold;
      }
    }

    @media screen and (min-width: 850px) {
      width: 50%;
    }
  }
}
