.navbar {
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
  min-width: 8vh;
  display: flex;
  justify-content: space-around;
  position: absolute;
  align-items: center;
  background-color: #fff9f4;
  padding: 7px;

  &__logo {
    letter-spacing: 1px;

    & > h4 {
      font-size: 23px;
      color: #fbb97e;
      // color: rgba(0, 0, 0, 0.096);
    }
  }

  &__navlinks {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 27%;
    color: white;
    font-size: 17px;
    z-index: 1;

    @media screen and (max-width: 850px) {
      position: absolute;
      top: 8vh;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 92vh;
      width: 100%;
      background-color: #faecea;
      font-size: 20px;
      transform: translateX(100%);
      transition: transform 0.5s ease-in-out;
    }

    &.isMenuOpen {
      transform: translateX(0%);
    }

    &__item {
      letter-spacing: 3px;
      overflow: hidden;

      &__link {
        color: #908890;
        position: relative;
        transition: 0.3s;
        overflow: hidden;
        font-size: 13px;
      }

      &__link::before {
        content: '';
        position: absolute;
        top: 0;
        right: 100%;
        width: 50%;
        height: 2px;
        background-color: #fbb97e;
        transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
      }

      &__link::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 100%;
        width: 50%;
        height: 2px;
        background-color: #fbb97e;
        transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
      }

      &__link:hover {
        color: #fcdea6;
      }

      &__link:hover::before {
        right: 0;
      }

      &__link:hover::after {
        left: 0;
      }

      @media screen and (max-width: 850px) {
        color: white;
      }
    }
  }

  &__toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 2rem;
    display: none;
    // transition: 0.3s ease all;
    // position: relative;
    // color: white;

    &:hover {
      // color: $primary;
      transition: 0.3s ease-in;
    }

    // @include breakpoint(md) {
    //   display: none;
    // }

    @media screen and (max-width: 850px) {
      display: block;
      font-size: 2.3rem;
    }
  }
}
